/* style.css */
body {
    background-color: #121212;
    color: #e0e0e0;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin: 10px;
}

a.button {
    background-color: #333;
    color: #e0e0e0;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
    transition: background-color 0.3s;
}

a.button:hover {
    background-color: #555;
}

main {
    padding-top: 30px;
}

section#phasmophobia-tips {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.6em;
    margin-top: 20px;
}

p {
    font-size: 1.2em;
    line-height: 1.5;
}

.tip {
    margin-bottom: 20px;
}

/* Nowe style dla listy wskazówek */
ul.tips-list {
    list-style-type: none;
    padding-left: 0;
}

ul.tips-list li {
    font-size: 1.2em;
    margin-bottom: 15px;
}

ul.tips-list li strong {
    color: #ff9800; /* Kolor dla pogrubionych fragmentów */
}
